.customHeadings{
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}
.customHeadings:hover{
    color: rgb(16, 61, 98);
}
.customfoot{
    text-decoration: none;
    color: black;
}
.customfoot:hover{
    color: rgb(20, 99, 173);
}
.customSeaBar{
    height: 60px;
    margin-left: 40%;
}
.customIcon{
    background-color: palevioletred;
    color: white;
    padding: 2px 4px;
    border-radius: 60%;
}
p{
    color: rgb(171, 166, 166);
}
.BgColor{
    color: rgb(188, 185, 185) !important;
    border-radius: 30%;
}